root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yml,yaml}]
indent_size = 2

[*.cs]
dotnet_diagnostic.S112.severity = warning
dotnet_diagnostic.S107.severity = warning
dotnet_diagnostic.S3776.severity = warning
dotnet_diagnostic.CA1502.severity = warning
dotnet_diagnostic.CA1506.severity = warning
dotnet_diagnostic.CA1509.severity = warning
